{% extends 'base.html' %}

{% block title %}
    MovieSpy - Actual
{% endblock title %}
    
{% block content %}
{% include "includes/header.html" %}

<div class="grid-container">
    <div class="grid-x">
        <h3 class="cell" style="margin: 20px; margin-top: 30;">Datos del dia:</h3>
        <hr class=cell>
        <div class="cell">
            <div class="cell grid-container">

<div class="grid-container">
    <div class="grid-x">
      <div class="cell medium-3">
        <ul class="vertical tabs" data-tabs id="example-tabs">
          <li class="tabs-title is-active"><a href="#panel1v" aria-selected="true">Cinepolis Galerias</a></li>
          <li class="tabs-title"><a href="#panel2v">MiCine Multiplaza Panamericana</a></li>
          <li class="tabs-title"><a href="#panel3v">Cinépolis VIP Galerías</a></li>
        </ul>
      </div>
      <div class="cell large-9">
        <div class="tabs-content vertical" data-tabs-content="example-tabs">
          <div class="tabs-panel is-active" id="panel1v">
                    <table >
                        <thead>
                            <tr>
                            <th>Pelicula</th>
                            <th>Tipo Funcion</th>
                            <th>Hora</th>
                            <th>Sala</th>
                            <th>Asientos</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for f in funciones.0 %}
                            <tr>
                                <td>{{ f.pelicula }}</td>
                                <td>{{ f.tipo_funcion }}</td>
                                <td>{{ f.hora }}</td>
                                <td>{{ f.sala }}</td>
                                <td>{{ f.asientos }}</td>
                                
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table> 
          </div>
          <div class="tabs-panel" id="panel2v">
            <table >
                <thead>
                    <tr>
                    <th>Pelicula</th>
                    <th>Tipo Funcion</th>
                    <th>Hora</th>
                    <th>Sala</th>
                    <th>Asientos</th>
                    </tr>
                </thead>
                <tbody>
                    {% for f in funciones.1 %}
                    <tr>
                        <td>{{ f.pelicula }}</td>
                        <td>{{ f.tipo_funcion }}</td>
                        <td>{{ f.hora }}</td>
                        <td>{{ f.sala }}</td>
                        <td>{{ f.asientos }}</td>
                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
          </div>
          <div class="tabs-panel" id="panel3v">
            <table >
                <thead>
                    <tr>
                    <th>Pelicula</th>
                    <th>Tipo Funcion</th>
                    <th>Hora</th>
                    <th>Sala</th>
                    <th>Asientos</th>
                    </tr>
                </thead>
                <tbody>
                    {% for f in funciones.2 %}
                    <tr>
                        <td>{{ f.pelicula }}</td>
                        <td>{{ f.tipo_funcion }}</td>
                        <td>{{ f.hora }}</td>
                        <td>{{ f.sala }}</td>
                        <td>{{ f.asientos }}</td>
                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
                <!-- <div class="grid-x" style="margin-top: 20;">
                    <div class="cell">
                        <h3>Sucursal: {{ funciones.0.sucursal }}</h3>
                    </div>
                    <table >
                        <thead>
                            <tr>
                            <th>Pelicula</th>
                            <th>Tipo Funcion</th>
                            <th>Hora</th>
                            <th>Sala</th>
                            <th>Asientos</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for f in funciones %}
                            <tr>
                                <td>{{ f.pelicula }}</td>
                                <td>{{ f.tipo_funcion }}</td>
                                <td>{{ f.hora }}</td>
                                <td>{{ f.sala }}</td>
                                <td>{{ f.asientos }}</td>
                                
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table> -->



                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}