<div class="top-bar">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text">MovieSpy</li>
        <li>
          <a href="{% url 'moviespy_app:inicio' %}">Inicio</a>
        </li>
        <li><a href="{% url 'moviespy_app:consulta' %}">Consultas</a></li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <li style="margin-right: 10px;"><a href="https://docs.google.com/spreadsheets/d/1bL7iZO-L6nRhR8h0LT-C9w5xR9kxC6RyQXBaMY5rtUg/edit?usp=sharing" class="hollow button alert">Google Sheets</a></li>
        <li><a href="{% url 'moviespy_app:dia' %}" class="button">Ver datos del dia</a></li>
      </ul>
    </div>
</div>